
<form  #submit="ngForm"  class="form-container"(ngSubmit)="submitPost(submit)">
    <div>
            <label class="formTitleTitle" for="title">Title</label>
            <input id="title" type="text" class="form-titleBox" name="title" ngModel required>
    </div>
    <div>
            <label for="thought">Thought</label>
            <input id="thought" type="text" class="form-thoughtBox" name="thought" ngModel required>
            <button class="postBtn" type="submit">Add Post</button>
    </div>        
    </form>
